html {
  scroll-behavior: smooth !important;
}
.header-layout1 .header-top {
  background-color: #02b95e96;
  padding: 5px 0;
  position: relative;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.social-links a {
  margin: 0px 0px 0px 7px;
  font-size: 17px;
  padding: 0px 7px 13px;
  border-radius: 50%;
  display: inline-block;
  width: 30px;
  height: 30px;
  padding-top: 4px;
  text-align: center;
}
.header-links a:hover {
  color: #8dff89;
}

.header-logo.top-section {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 4px;
  margin-bottom: 4px;
  background-color: #fff;
  border-radius: 10px;
  text-align: center;
}
.header-logo.top-section p {
  font-size: 7px;
  font-weight: bold;
  margin-top: -10px;
  color: #000;
  margin-bottom: 0px;
}
.header-logo img {
  /* filter: drop-shadow(0px 0px 10px #44dd44); */
  width: 70px;
}

.slick-initialized .slick-slide {
  background-size: cover !important;
  background-repeat: no-repeat !important;
}

.leaf-shape-animation {
  background-repeat: no-repeat !important;
}

.faq-area-1 .faq-bg-img-1 {
  background-size: cover !important;
  background-repeat: no-repeat !important;
}

.faq-area-1 .faq-bg-img-1 {
  width: 45%;
}
.whatsapp-sticky-main {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 999;
}
.whatsapp-sticky {
  display: block;
  margin-left: -209px;
  margin-top: -180px;
}

.whatsapp-sticky span {
  background-color: #fff;
  color: #44dd44;
  padding: 5px 10px;
  border-radius: 15px;
  margin-right: -10px;
  box-shadow: #0000003a 0px 0px 2px;
}

.whatsapp-sticky img {
  width: 70px;
}

.preloader2 {
  display: none;
}
.footer-wrapper .footer-logo {
  margin-bottom: 0px;
  margin-top: -20px;
}
.footer-wrapper .menu-all-pages-container li a {
  margin-bottom: 5px;
}
.footer-wrapper .widget-area {
  padding: 30px 0px 0px;
  margin-bottom: -20px;
}
.footer-wrapper .about-text {
  padding: 0px 0px 0px;
  margin: 0px 0px 15px;
}

@media (max-width: 1199px) {
  .footer-layout1 .footer-top .info-card {
    display: flex;
  }
}
@media (max-width: 767px) {
  .footer-map-locaton {
    padding: 10px 15px;
  }
  .footer-layout1 .footer-top .info-card .info-card_icon {
    height: 35px;
    width: 35px;
    line-height: 35px;
    font-size: 13px;
  }
}

.home-contact-main {
  background: linear-gradient(96deg, #599c13, white);
  padding: 15px 0px;
}

.home-contact-main .footer-top {
  padding: 0;
}

.home-contact-main .info-card {
  padding: 5px !important;
}

/* Slider Arrow SET  */

/* .slick-prev slick-arrow */
.global-carousel {
  border-radius: 10px;
  overflow: hidden;
}
.global-carousel .slick-list{
  border-radius: 10px;
  overflow: hidden;
}
.global-carousel .slick-arrow {
  background-color: rgb(0, 0, 0);
  color: #ffffff;
  opacity: 0.7;
}
.global-carousel .slick-arrow:hover {
  background-color: rgb(14, 182, 64);
  color: #ffffff;
  opacity: 1;
}
.global-carousel .slick-arrow.slick-prev {
  left: 10px;
  display: none !important;
}
.global-carousel .slick-arrow.slick-next {
  right: 30px;
  margin: 0 !important;
  top: 8%;
}

@media (min-width: 767px) {
  .global-carousel {
    border-radius: 10px;
    overflow: visible;
  }
  .global-carousel .slick-arrow.slick-prev {
    left: -60px;
    display: block !important;
  }
  .global-carousel .slick-arrow.slick-next {
    right: -60px;
    margin: 0 !important;
    top: 37%;

  }
}

.global-carousel-main-slider .slick-arrow, .hero-1 .slick-arrow.slick-prev {
  background-color: rgb(0, 0, 0);
  color: #ffffff;
  opacity: 0.7;
  transform: translate(0) !important;
  border-radius: 50%;
  font-size: 15px;
}
.global-carousel-main-slider .slick-arrow {
  background-color: rgb(0, 0, 0);
  color: #ffffff;
  opacity: 0.7;
  --icon-size: 50px;
  transform: translate(0) !important;
}
.global-carousel-main-slider .slick-arrow:hover {
  background-color: rgb(14, 182, 64);
  color: #ffffff;
  opacity: 1;
}
.global-carousel-main-slider .slick-arrow.slick-prev {
  left: 20px;
  top: 61%;
}
.global-carousel-main-slider .slick-arrow.slick-next {
  right: 20px;
  margin: 0 !important;
  top: 50%;
}
